@using Application
@model Domain.entities.Image

<div class="card">
    <div class="card-header">
        <div>
            <h3 class="card-title">@Model.FileName</h3>
            <p class="card-subtitle">Selected image</p>
        </div>

        <div class="card-actions">
            <span class="badge bg-green-lt">
                <i class="ti ti-check me-1"></i>
                Active
            </span>
        </div>
    </div>

    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">Path</div>
                <div class="datagrid-content text-break">
                    @Model.RelationalFilePath
                </div>
            </div>
        </div>
    </div>

    <div class="card-img position-relative">
        @if (Constants.ImageFileTypes.Contains(Model.FileType))
        {
            <img src="@Url.Page("/Selection/Thumbnail", new
                      {
                          imageId = Model.Id
                      })"
                 alt="@Model.FileName"
                 class="img-fluid rounded"
                 style="max-height: 100%; object-fit: contain;"/>
        }
        else
        {
            <div
                class="d-flex align-items-center justify-content-center bg-blue-lt">
                <i class="ti ti-photo fs-1 text-blue"></i>
            </div>
        }
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2">
            <button type="button"
                    class="btn btn-primary"
                    onclick="openImageInIrfanView()">
                <i class="ti ti-photo me-2"></i>
                Open image in Irfanview
            </button>
        </div>
    </div>
</div>
